[submodule "src/vim/pack/colorschemes/start/vim-colors-solarized"]
	path = src/vim/pack/colorschemes/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "src/vim/pack/editor/vim-surround"]
	path = src/vim/pack/editor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "src/vim/pack/syntax/vim-markdown"]
	path = src/vim/pack/syntax/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "src/vim/pack/syntax/start/swift.vim"]
	path = src/vim/pack/syntax/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "src/vim/pack/editor/start/vim-repeat"]
	path = src/vim/pack/editor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "src/vim/pack/colorschemes/start/vim-colors-xcode"]
	path = src/vim/pack/colorschemes/start/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode
[submodule "src/vim/pack/syntax/start/vim-graphql"]
	path = src/vim/pack/syntax/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
